/* 
grid
parent
display grid \ inline-grid
-grid-template*columns => number of columns In =>  [px. %. auto, repeat()] 
grid-template-rows => number of rows height 
*/


.container{
        display: grid;
        grid-template-areas: 'Champions Description Description' 'Champions Subscription OtherServices ';
        grid-gap: 10px;
        margin: 0 300px;
        color: rgb(255, 255, 255);
        background-color: #f0600070;
        
    }
        

.d1{
    grid-area: Champions;
  }
  .d2{
    grid-area: Description;
  }
  
  .d3{
    grid-area: Subscription;
  }
  .d4{
    grid-area: OtherServices;
  }

.item{
    padding: 10px;
  
  }



header{
    background-image: url("legend.jpg");
    height: 500px;
    margin: 0 300px;
    background-color: rgb(184, 175, 49);
    background-position: center;


}
header{
    color: rgba(0, 0, 0, 0.671);
    font-size: xx-large;
    text-align: center;
    padding: 100px;
}


nav{
    margin: 0px 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orangered;
    
}
nav a{
color: rgb(250, 250, 250);
text-decoration: none;
}

footer{
    background-color: orangered;
    padding: 10px;
    text-decoration:none;
    color: white;
    text-align: center;
    margin: 0px 300px;
    width: 960x;
    vertical-align: middle;
    text-transform: inline-block;
    
}
.radio{
    font-size: 24px;
    font-weight: 500;
     text-transform: inline-block;
     vertical-align: middle;
     color: #fff;
}

.parent div{
    border: solid 1px #000;
}
.style{
margin: 10px;    
}
.style1{

    margin: 10px 10px 10px 10px;
    padding: 15px 5px 20px 0px;
    
}
.style2{
    margin-left: 25px;
}
.p{
    margin: 0px 0px 0px 50px;
    
}
button{
    display: block;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #f77104;
}
button a{
    color: rgb(245, 102, 7);
    font-style: bold;
    font-size: medium;
}
.menuimages{
    width: 32%;
    height: 200px;

}


body {
    background-color: black;
}
hr{
    margin: 10px 300px;
}
.a{
    font-size: 70px;
    text-shadow: 3px 2px;
    background-color: rgba(255, 188, 4, 0.075);
}
.linkText:hover > a{

    color:#f77104;
    
}
.linkText:hover {
    background-color: black;
}

.linkText{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 0 10px;
    
}



